.alert_box{
    text-align: center;
    margin:20px;
    border:solid 2px black;
}

.card_alert{
    display: inline-block;
    color: #dc143c;
    border-bottom: double 1px #fa8072;
    text-align: center;
    padding:10px;
}

.alert_msg{
    text-align: left;
}

h3,h4{
    text-align:center;
}

.errex_box{
    text-align: center;
    margin:20px;
    border:solid 2px black;
}

.err_list{
    text-align: left;
}